<section class="show-main">
  <div class="frame">
    <div class ="col70">
      <div class="restaurant-name">
        <h1><%= @restaurant.name %></h1>
      </div>
      <div class = "content">
        <p><%= link_to image_tag(@restaurant.picture, :border => 0, :class => "restaurant-image") %></p>
        <h3 class="float-left">maximum capacity: </h3>
        <p class="float-left max-occp"><%= @restaurant.capacity %> people</p>
        <h3 class="clear-both">Description: </h3>
        <p class="description-text"><%= @restaurant.description %></p>
      </div>
    </div>
    <div class="col30">
        <% unless current_user %>
        <div class = "sign-in-warning">
          <h3> To make a reservation you have to <%= link_to 'Sign-in', new_session_path %> first, Don't have an account? <%= link_to 'Create account', new_user_path %> </h3>
        </div>
        <% end %>
        <% if current_user %>
          <% unless current_user.user_type == 0 %>
          <div class="reservation-box">
            <div class="form-title">
              <h3>Make a reservation!<h3>
            </div>
            <div class="form-field">
            <%= form_for([@restaurant, @reservation]) do |f| %>
              <p>Please select your date</p>
            </div>
            <div class="form-field">
              <%= f.date_select :reservation_date, ampm: true, :discard_minute => true, :order => [:day, :month, :year] %>
            </div>
            <div class="form-field">
              <%= f.select :reservation_hour, options_for_select(seating_hours) %>
            </div>
            <div class="form-field">
              <%= f.label :party_size %>
              <%= f.number_field :party_size %>
              <div class="submit-button">
                <%= f.submit %>
              </div>
            <% end %>
            </div>
            <div class="line-separator"></div>
            <div class="reservation-list">
              <h3> Your reservations @ <%= @restaurant.name %>:</h3>
              <% @restaurant.reservations.each do |reservation| %>
                <% if @current_user.id == reservation.user_id %>
                <p>
                  <%= @restaurant.name %>, Party of: <%= reservation.party_size %> on <%= reservation.reservation_date %> @ <%= reservation.reservation_hour %> hs
                  <%= link_to "Delete", restaurant_reservation_path(@restaurant, reservation), method: :delete %>
                </p>
                <div class="line-separator"></div>
                <% end %>
              <% end %>
              </div>
            </div>
          <% end %>
          <div class="show-map">
            <div id="map" style='width: 294px; height: 294px;'></div>
          </div>
          <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      });
    </script>
        <% end %>
      </div>
    <div class="clear-both"></div>
    <div class="col1">
      <% if current_user %>
        <% if @user.user_type == 0 %>
          <% if @user.id == @restaurant.user_id %>
            <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete %><br>
            <h3>The following reservations have been placed to your restaurant</h3>
            <% @restaurant.reservations.each do |reservation| %>
              <h3>Reservation for: </h3><%= @restaurant.name %>, Party of:  <%= reservation.party_size %> on <%= reservation.reservation_date %> @ <%= reservation.reservation_hour %> pm
              <%= link_to "Delete", restaurant_reservation_path(@restaurant, reservation), method: :delete %><br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": 0,
          "lng": 0,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      });
    </script>
</section>

