<h1>Welcome to <%= @restaurant.name %>, maximum capacity: <%= @restaurant.capacity %> people</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<%= form_for([@restaurant, @reservation]) do |f| %>
  <p>To make a reservation please select your date</p>
  <%= f.date_select :reservation_date, ampm: true, :discard_minute => true, :order => [:day, :month, :year] %>
  <%= f.select :reservation_hour, options_for_select([["Select Hour"], 6, 7, 8, 9, 10]) %>
  <br>

  <p>Please enter your party size</p>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<% @restaurant.reservations.each do |reservation| %>
	Reservation for: <%= @restaurant.name %>, Party of:	<%= reservation.party_size %> on <%= reservation.reservation_date %> @ <%= reservation.reservation_hour %> pm
	<%= link_to "Delete", restaurant_reservation_path(@restaurant, reservation), method: :delete %><br>
<% end %>

<%= link_to "Back to all restaurants", restaurants_path %>
